[global]
type=global
user_agent=SIP SDR Service

[transport-${SIP_TRANSPORT}]
type=transport
protocol=${SIP_TRANSPORT}
bind=0.0.0.0:5060
local_net=${LOCAL_NET}
${EXTERNAL_TRANSPORT_SETTINGS}

[provider-auth]
type=auth
auth_type=userpass
username=${SIP_AUTH_NAME}
password=${SIP_PASSWORD}

[provider-aor]
type=aor
contact=sip:${SIP_SERVER}:${SIP_PORT}
qualify_frequency=60

[provider-endpoint]
type=endpoint
transport=transport-${SIP_TRANSPORT}
context=incoming-sdr
disallow=all
allow=${SIP_CODEC_ALLOW}
outbound_auth=provider-auth
aors=provider-aor
from_user=${SIP_NUMBER}
from_domain=${SIP_SERVER}
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
timers=yes

[provider-identify]
type=identify
endpoint=provider-endpoint
match=${SIP_SERVER}

[provider-registration]
type=registration
transport=transport-${SIP_TRANSPORT}
outbound_auth=provider-auth
server_uri=sip:${SIP_SERVER}:${SIP_PORT}
client_uri=sip:${SIP_NUMBER}@${SIP_SERVER}
contact_user=${SIP_NUMBER}
retry_interval=${REGISTRATION_RETRY_INTERVAL}
forbidden_retry_interval=${REGISTRATION_FORBIDDEN_RETRY_INTERVAL}
expiration=3600
line=yes
endpoint=provider-endpoint
